body{
	margin: 0px;
	font-family: sans-serif,"HG明朝E",Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho",serif;
}
div#wrapper{
	width: 100%;
}
img{
	width: 100%;
}
#se{
	padding-top: 6.8%;
	margin-top: -6.8%;
}
#tc{
	padding-top: 6.8%;
	margin-top: -6.8%;
}
#fl{
	padding-top: 6.8%;
	margin-top: -6.8%;
}
#qa{
	padding-top: 6.8%;
	margin-top: -6.8%;
}
#to{
	padding-top: 6.8%;
	margin-top: -6.8%;
}
.logo{
	display: block;
	width:70%;
	margin-top: 0%;
	margin-left: 0%;
}
div#ham{
	display: none;
}
.df{
	width: 100%;
	position: fixed;
	z-index: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	background: rgba(255,255,255,0.8);
}
.gnf{
	width: 100%;
}
ul#globalnav{
	width: 100%;
	padding: 0px;
	font-size: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin-top: 2.7%;
	margin-left: 6%;
}
ul#globalnav li{
	list-style: none;
	margin-left: 10%;
}
ul#globalnav li a{
	text-decoration: none;
	color: #000000;
	font-family: "游ゴシック";
}
.db{
	display: block;
}
.dn{
	display: none;
}
.mv{
	position: relative;
}
.top_tit{
	width: 45%;
	position: absolute;
	top: 21%;
	left: 10.5%;
}
.top_dis{
	width: 55%;
	position: absolute;
	top: 49%;
	left: 5.5%;
}
.top_but{
	width: 42%;
	position: absolute;
	top: 66%;
	left: 12%;
}
.top_man{
	width: 15%;
	position: absolute;
	top: 64%;
	left: 61%;
}
.top_men{
	width: 16%;
	position: absolute;
	top: 64%;
	left: 77%;
}
.onayami{
	position: relative;
}
.onayami_title{
	width: 43%;
	position: absolute;
	top: 18%;
	left: 13%;
}
.onayami_dis{
	width: 45%;
	position: absolute;
	top: 42%;
	left: 14%;
}
.onayami_anai{
	width: 42%;
	position: absolute;
	top: 80%;
	left: 13%;
}
.benefit{
	position: relative;
}
.benefit_dis{
	width: 55%;
	position: absolute;
	top: 22%;
	left: 40%;
}
.benefit_men{
	width: 26%;
	position: absolute;
	top: 55%;
	left: 40%;
}
.benefit_adv{
	width: 26%;
	position: absolute;
	top: 55%;
	left: 70%;
}
.profile{
	position: relative;
}
.profile_title{
	width: 80%;
	position: absolute;
	top: 11%;
	left: 10%;
}
.profile_name{
	width: 25%;
	position: absolute;
	top: 30%;
	left: 43%;
}
.profile_keireki{
	width: 40%;
	position: absolute;
	top: 45%;
	left: 43%;
}
.agent{
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.agent_img{
	width: 37%;
}
.agent_dis{
	width: 46%;
	margin-top: 5%;
	margin-bottom: 0%;
	margin-left: 10%;
	margin-right: 10%;
}
.kyuujin{
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.kyuujin_dis{
	width: 46%;
	margin-top: 10%;
	margin-bottom: 0%;
	margin-left: 10%;
	margin-right: 10%;
}
.kyuujin_img{
	width: 37%;
}
div#contents{
	width: 70%;
	margin: 0 auto;
}
.tokucho_title{
	width: 60%;
	margin: 10% auto 0%;
}
.mt5{
	margin-top: 5%;
}
.mt7{
	margin-top: 7%;
}
.mt10{
	margin-top: 10%;
}
.mt12{
	margin-top: 12%;
}
.mt14{
	margin-top: 14%;
}
.mb7{
	margin-bottom: 7%;
}
.flow_title{
	width: 60%;
	margin: 10% auto 0%;
}
.flow1{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin-top: 12%;
}
.w90a{
	width: 90%;
	margin: 0 auto;
}
.w30{
	width: 30%;
}
.flow2{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin-top: 7%;
}
.voice_title{
	width: 30%;
	margin: 10% auto 0%;
}
.mr5{
	margin-right: 5%;
}
.kaneko{
	width: 80%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin: 3% auto 0%;
}
.kaneko_img{
	width: 35%;
}
.kaneko_body{
	width: 60%;
	margin-left: 5%;
}
.on{
	width: 80%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin: 3% auto 0%;
}
.on_img{
	width: 35%;
}
.on_body{
	width: 60%;
	margin-left: 5%;
}
.qa_title{
	width: 60%;
	margin: 10% auto 0%;
}
.vow80a{
	width: 80%;
	margin: 0 auto;
}
.qaw80a{
	width: 80%;
	margin: 0 auto;
}
div#footer{
	background-color: #19bfc3;
	font-family: "Meiryo UI";
	color: #ffffff;
	padding: 1% 3% 6% 3%;
	margin-top: 12%;
}
.footer_logo{
	width: 50%;
}
ul#footter-gn1{
	width: 70%;
	padding: 0px;
	margin-top: 3%;
	margin-left: 1%;
	margin-bottom: 0px;
	font-size: 18px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	float: left;
}
ul#footter-gn1 li{
	list-style: none;
	margin-left: 10%;
}
ul#footter-gn1 li a{
	text-decoration: none;
	color: #ffffff;
}
ul#footter-gn2{
	width: 70%;
	padding: 0px;
	margin-top: 1%;
	margin-bottom: 0px;
	margin-left: 1%;
	font-size: 18px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	float: left;
}
ul#footter-gn2 li{
	list-style: none;
	margin-left: 10%;
}
ul#footter-gn2 li a{
	text-decoration: none;
	color: #ffffff;
}
.fl{
	float: left;
	margin-top: 1%;
	width: 250px;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
/*thanks_page*/
img.thanks img{
	width: 100%;
}
.shiryo title{
	font-size: 30px;
	margin-top: 10%;
}
p.shiryo_discription{

}
img.thanks check{
	width: 10%;
	margin-top: 5%;
}
.fix{
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: YuGothic, 'Yu Gothic', sans-serif;
	font-weight: normal;
	color: #333333;
}

@media only screen and (max-width: 1250px){

ul#globalnav{
	font-size: 16px;
	margin-top: 4%;
}

}

@media only screen and (max-width: 1024px){

ul#globalnav{
	display: none;
}
div#ham{
	display: block;
}
.btn{
	display: block;
	width:13%;
	height: 13%;
	position: fixed;
	top:0;
	right:0;
	cursor: pointer;
	z-index: 200;
}
.peke{
	background-position: -35px 0;
}
.drawr{
	display: none;
	background-color:#FFFFFF;
	position: fixed;
	top: 0px;
	right:0;
	width:260px;
	height: 100%;
	padding: 50px 0 20px 0px;
	z-index: 100;
}
#menu li{
	list-style: none;
	width:260px;
}
#menu li a{
	color:#000000;
	display: block;
	padding: 10px;
	text-decoration: none;
	font-family: "游ゴシック";
}

}

@media only screen and (max-width: 980px){

.fl{
	margin-left: 1%;
}
ul#footter-gn1{
	width: 96%;
	margin-left: 4%;
	margin-top: 3%;
	font-size: 18px;
}
ul#footter-gn2{
	width: 96%;
	margin-left: 4%;
	margin-top: 2%;
	font-size: 18px;
}
ul#footter-gn1 li{
	margin-left: 0px;
	margin-right: 10%;
}
ul#footter-gn2 li{
	margin-left: 0px;
	margin-right: 10%;
}	
}
@media only screen and (max-width: 768px){

.dn_s{
	display: none;
}
.db_s{
	display: block;
}
.di_s{
	display: inline-block;
}
.top_tit{
	width: 80%;
	top: 47%;
	left: 10.5%;
}
.top_dis{
	width: 80%;
	top: 68%;
	left: 10%;
}
.top_but_s{
	width: 80%;
	margin: 4% auto;
}
.top_man{
	width: 25%;
	top: 77%;
	left: 23%;
}
.top_men{
	width: 26.5%;
	top: 77.3%;
	left: 52%;
}
.onayami_title{
	width: 90%;
	top: 14%;
	left: 7%;
}
.onayami_dis{
	width: 93%;
	top: 37%;
	left: 7%;
}
.onayami_anai{
	width: 100%;
	top: 73%;
	left: 0%;
}
.benefit_dis{
	width: 90%;
	top: 7%;
	left: 7%;
}
.benefit_men{
	width: 70%;
	top: 30%;
	left: 15%;
}
.benefit_adv{
	width: 70%;
	top: 64%;
	left: 15%;
}
.profile_title{
	width: 51%;
	height: 20%;
	top: 10%;
	left: 46%;
}
.profile_name{
	width: 50%;
	top: 30%;
	left: 45%;
}
.profile_keireki{
	width: 50%;
	top: 45%;
	left: 45%;
}
.agent_title{
	position: relative;
}
.agent_hai{
	width: 100%;
	display: block;
}
.agent_bun{
	width: 50%;
	position: absolute;
	top: 30%;
	left: 25%;
}
.agent_dis{
	width: 100%;
	margin-bottom: 12%;
}
.agent_career_sp{
	background-image: url("img/what's_agent_career_sp.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 70px;
	padding-left: 15%;
	padding-top: 0%;
	padding-bottom: 5%;
	margin-top: 7%;
}
.agent_career_title_sp{
	font-size: 20px;
	font-family: "游ゴシック";
	font-weight: bold;
	margin: 0%;
}
.agent_career_dis_sp{
	font-size: 16px;
	font-family: "游ゴシック";
	margin: 0%;
}
.agent_kyujin_sp{
	background-image: url("img/what's_agent_kyujin_sp.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 55px;
	padding-left: 15%;
	padding-top: 0%;
	padding-bottom: 5%;
	margin-top: 7%;
}
.agent_kyujin_title_sp{
	font-size: 20px;
	font-family: "游ゴシック";
	font-weight: bold;
	margin: 0%;
}
.agent_kyujin_dis_sp{
	font-size: 16px;
	font-family: "游ゴシック";
	margin: 0%;
}
.agent_mensetsu_sp{
	background-image: url("img/what's_agent_mensetsu_sp.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 57px;
	padding-left: 15%;
	padding-top: 0%;
	padding-bottom: 5%;
	margin-top: 7%;
}
.agent_mensetsu_title_sp{
	font-size: 20px;
	font-family: "游ゴシック";
	font-weight: bold;
	margin: 0%;
}
.agent_mensetsu_dis_sp{
	font-size: 16px;
	font-family: "游ゴシック";
	margin: 0%;
}
.kyuujin_title{
	position: relative;
}
.kyuujin_hai{
	width: 100%;
	display: block;
}
.kyuujin_bun{
	width: 70%;
	position: absolute;
	top: 30%;
	left: 15%;
}
.kyuujin_dis{
	font-size: 18px;
	width: 100%;
	margin-top: 0%;
}
div#contents{
	width: 80%;
}
.w80{
	width: 80%;
	margin: 0 auto;
}
.tokucho_title{
	width: 100%;
}
.tc1_title_s{
	background-image: url("img/tokucho_1_icon.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 70px;
	padding-left: 20%;
	padding-top: 3%;
	padding-bottom: 5%;
	color: #616161;
	font-size: 22px;
	font-family: "游ゴシック";
	font-weight: bold;
}
.tc1_dis_s{
	width: 85%;
	margin: 0 auto;
	font-size: 20px;
	font-family: "MS Pゴシック";
}
.tc2_title_s{
	background-image: url("img/tokucho_2_icon.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 70px;
	padding-left: 20%;
	padding-top: 3%;
	padding-bottom: 5%;
	color: #616161;
	font-size: 22px;
	font-family: "游ゴシック";
	font-weight: bold;
}
.tc2_dis_s{
	width: 85%;
	margin: 0 auto;
	font-size: 20px;
	font-family: "MS Pゴシック";
}
.tc3_title_s{
	background-image: url("img/tokucho_3_icon.png");
	background-repeat: no-repeat;
	background-position: 18% 0%;
	background-size: 70px;
	padding-left: 38%;
	padding-top: 3%;
	padding-bottom: 5%;
	color: #616161;
	font-size: 22px;
	font-family: "游ゴシック";
	font-weight: bold;
}
.tc3_dis_s{
	width: 85%;
	margin: 0 auto;
	font-size: 20px;
	font-family: "MS Pゴシック";
}
.tc4_title_s{
	background-image: url("img/tokucho_4_icon.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 70px;
	padding-left: 20%;
	padding-top: 3%;
	padding-bottom: 5%;
	color: #616161;
	font-size: 22px;
	font-family: "游ゴシック";
	font-weight: bold;
}
.tc4_dis_s{
	width: 85%;
	margin: 0 auto;
	font-size: 20px;
	font-family: "MS Pゴシック";
}
.flow_title{
	width: 100%;
}
.flow1{
	display: block;
}
.wh100{
	width: 100%;
	height: 100%;
}
.flow2{
	display: block;
	margin-top: 0%;
}
.yajirushi{
	width: 20%;
	margin: 12% auto 0;
}
.voice_title{
	width: 46%;
}
.voice_kaneko_tit{
	background-color: #19bfc3;
	color: #ffffff;
	font-size: 18px;
	font-family: "游ゴシック";
	padding: 2% 2%;
	margin-top: 7%;
}
.voice_kaneko_tit1{
	font-weight: bold;
	margin: 0%;
}
.voice_kaneko_tit2{
	display: inline-block;
	margin: 0%;
}
.voice_kaneko_tit3{
	display: inline;
	font-weight: bold;
	margin: 0%;
}
.voice_on_tit{
	background-color: #19bfc3;
	color: #ffffff;
	font-size: 18px;
	font-family: "游ゴシック";
	padding: 2% 2%;
	margin-top: 7%;
}
.voice_on_tit1{
	font-weight: bold;
	margin: 0%;
}
.voice_on_tit2{
	display: inline-block;
	margin: 0%;
}
.voice_on_tit3{
	display: inline;
	font-weight: bold;
	margin: 0%;
}
.qa_title{
	width: 100%;
}
.q1{
	background-image: url("img/q.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 50px;
	padding-left: 15%;
	padding-top: 2%;
	padding-bottom: 5%;
	font-size: 22px;
	margin-top: 10%;
	margin-bottom: 1%;
	font-family: "游ゴシック";
}
.a1{
	background-image: url("img/a.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 50px;
	padding-left: 15%;
	padding-top: 2%;
	padding-bottom: 5%;
	margin: 0 auto;
	font-size: 18px;
	font-family: "游ゴシック";
}
.q2{
	background-image: url("img/q.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 50px;
	padding-left: 15%;
	padding-top: 2%;
	padding-bottom: 5%;
	font-size: 22px;
	margin-top: 10%;
	margin-bottom: 1%;
	font-family: "游ゴシック";
}
.a2{
	background-image: url("img/a.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 50px;
	padding-left: 15%;
	padding-top: 2%;
	padding-bottom: 5%;
	margin: 0 auto;
	font-size: 18px;
	font-family: "游ゴシック";
}
.q3{
	background-image: url("img/q.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 50px;
	padding-left: 15%;
	padding-top: 2%;
	padding-bottom: 5%;
	font-size: 22px;
	margin-top: 10%;
	margin-bottom: 1%;
	font-family: "游ゴシック";
}
.a3{
	background-image: url("img/a.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 50px;
	padding-left: 15%;
	padding-top: 2%;
	padding-bottom: 5%;
	margin: 0 auto;
	font-size: 18px;
	font-family: "游ゴシック";
}
.q4{
	background-image: url("img/q.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 50px;
	padding-left: 15%;
	padding-top: 2%;
	padding-bottom: 5%;
	font-size: 22px;
	margin-top: 10%;
	margin-bottom: 1%;
	font-family: "游ゴシック";
}
.a4{
	background-image: url("img/a.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 50px;
	padding-left: 15%;
	padding-top: 2%;
	padding-bottom: 5%;
	margin: 0 auto;
	font-size: 18px;
	font-family: "游ゴシック";
}
.q5{
	background-image: url("img/q.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 50px;
	padding-left: 15%;
	padding-top: 2%;
	padding-bottom: 5%;
	font-size: 22px;
	margin-top: 10%;
	margin-bottom: 1%;
	font-family: "游ゴシック";
}
.a5{
	background-image: url("img/a.png");
	background-repeat: no-repeat;
	background-position: left middle;
	background-size: 50px;
	padding-left: 15%;
	padding-top: 2%;
	padding-bottom: 5%;
	margin: 0 auto;
	font-size: 18px;
	font-family: "游ゴシック";
}

}

@media only screen and (max-width: 670px){

.agent_career_sp{
	padding-left: 20%;
}
.agent_kyujin_sp{
	padding-left: 20%;
}
.agent_mensetsu_sp{
	padding-left: 20%;
}
ul#footter-gn1{
	display: block;
	width: 93%;
	margin-left: 7%;	
}
ul#footter-gn2{
	display: block;
	width: 93%;
	margin-left: 7%;
	margin-top: 0%;
}
ul#footter-gn1 li{
	margin-right: 0%;
	margin-bottom: 2%;
}
ul#footter-gn2 li{
	margin-right: 0%;
	margin-bottom: 2%;
}	
}
@media only screen and (max-width: 560px){

.kyuujin_dis{
	font-size: 16px;
}
.tc1_title_s{
	background-size: 50px;
	font-size: 20px;
}
.tc1_dis_s{
	font-size: 18px;
}
.tc2_title_s{
	background-size: 50px;
	font-size: 20px;
}
.tc2_dis_s{
	font-size: 18px;
}
.tc3_title_s{
	background-size: 50px;
	font-size: 20px;
	background-position: 10% 0%;
	padding-left: 30%;
}
.tc3_dis_s{
	font-size: 18px;
}
.tc4_title_s{
	background-size: 50px;
	font-size: 20px;
}
.tc4_dis_s{
	font-size: 18px;
}
.voice_kaneko_tit{
	font-size: 16px;
}
.voice_kaneko_tit2{
	display: block;
}
.voice_kaneko_tit3{
	display: block;
}
.voice_on_tit{
	font-size: 16px;
}
.voice_on_tit2{
	display: block;
}
.voice_on_tit3{
	display: block;
}
.q1{
	font-size: 18px;
	padding-left: 25%;
}
.a1{
	font-size: 16px;
	padding-left: 25%;
}
.q2{
	font-size: 18px;
	padding-left: 25%;
}
.a2{
	font-size: 16px;
	padding-left: 25%;
}
.q3{
	font-size: 18px;
	padding-left: 25%;
}
.a3{
	font-size: 16px;
	padding-left: 25%;
}
.q4{
	font-size: 18px;
	padding-left: 25%;
}
.a4{
	font-size: 16px;
	padding-left: 25%;
}
.q5{
	font-size: 18px;
	padding-left: 25%;
}
.a5{
	font-size: 16px;
	padding-left: 25%;
}

}

@media only screen and (max-width: 440px){

.agent_career_sp{
	padding-left: 30%;
}
.agent_kyujin_sp{
	padding-left: 30%;
}
.agent_mensetsu_sp{
	padding-left: 30%;
}
}

@media only screen and (max-width: 350px){

.tc3_title_s{
	background-position: left;
	padding-left: 20%;
}
}
